.main-app-container {
  display: flex;
  flex-direction: column;
  margin-top: 4.9rem;
  margin-left: 9.9rem;
  margin-bottom: 5rem;
}

.main-app-container > .card-element-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-inline: 10rem;
}
