.archive-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 2rem;
  margin-left: 9.9rem;
  margin-top: 4.9rem;
  max-height: 100vh;

}
.empty-container-message {
  width: 100%;
  text-align: center;
  padding: 2rem;

}

