.header-component {
  border: 1px solid rgb(190, 191, 185);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-color: white;
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 10;
}

header > h2 {
  margin-left: 50px;
  font-weight: 100;
}
header > h2 > span {
  font-weight: bold;
}
