.search-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(215, 209, 209);
  width: 35rem;
  height: 3rem;
  border-radius: 0.7rem;
  padding-right: 1rem;
  position: relative;
  background-color: white;
}

.search-input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 50px;
}

.search-button-icon {
  height: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  font-size: 1.5rem;
}
