.main-app-container {
  display: flex;
  flex-direction: column;
}

.main-app-container > .card-element-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-inline: 70px;
  margin-top: 23px;
}
