.main-app-container {
  display: flex;
  flex-direction: column;
}

.main-app-container > .card-element-section {
  display: flex;
 align-items: center;
 justify-content: flex-start;
  flex-wrap: wrap;
  margin-inline: 100px;
  margin-top: 23px;
}
