* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color-button: white;
  --bg-color-header: #fef08a;
  --card-border-color: #fde68a;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}
