* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}
.empty-container-message{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 0.9rem;
  font-weight: 700;
}
.empty-container-message p{
  color: rgb(109, 109, 109);

}
